<section data-ng-controller="UsersController" data-ng-init="findOne()">
<div class="panel panel-default profile">
    <div class="panel-heading">Edit profile</div>
    <div class="panel-body">
        <form class="signin form-horizontal" ng-submit="update()">
            <div class="form-group">
                <label class="col-md-4 control-label" for="api_key">Api Key</label>
                <div class="col-md-8">
                    <input id="api_key" class="form-control" type="text" name="api_key" placeholder="Api key" value="{{currentUser.api_key}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="rserver">Redmine Server</label>
                <div class="col-md-8">
                    <input ng-model="currentUser.rserver" id="rserver" class="form-control" type="text" name="rserver" placeholder="Redmine server"/>
                </div>
            </div>        
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-8">
                    <input ng-model="currentUser.password" class="form-control" type="password" name="password" placeholder="Password" equals={{currentUser.confirm_password}}/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="working_hours_per_day">Working hours per day: </label>
                <div class="col-md-8">
                    <input ng-model="currentUser.working_hours_per_day" id="working-hours-per-day" class="form-control" type="text" name="working_hours_per_day" placeholder="Hours"  />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button class="btn btn-primary" type="submit">Save</button>&nbsp;
                    or&nbsp;<a class="show-login" href="#!/profile">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
</section>