<section data-ng-controller="UsersController" ng-model="currentUser" data-ng-init="findOne()">
<div class="panel panel-default profile">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <tr>
                <td><strong>ID</strong></td>
                <td>{{user._id}}</td>
            </tr>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <td><strong>Api Key</strong></td>
                <td>{{user._id}}</td>
            </tr>
            <tr>
                <td><strong>Redmine</strong></td>
                <td><a target="_blank" href="{{user.rserver}}">{{user.rserver}}</a></td>
            </tr> 
            <tr>
                <td><strong>Redmine Id</strong></td>
                <td>{{user.rid}}</td>
            </tr>           
            <tr>
                <td><strong>Email</strong></td>
                <td>{{user.email}}</td>
            </tr>                               
        </table>
    </div>
    <div class="panel-footer">
        <a class="btn btn-large btn-primary" href="#!/profile/edit">Edit</a>
    </div>
</div>  

</section>