{% extends '../layouts/default.html' %}

{% block content %}
    <form class="signin form-horizontal" action="/users/{{user._id}}" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="api_key">Api Key</label>
            <div class="col-md-8">
                <input id="api_key" class="form-control" type="text" name="api_key" placeholder="Api key" value="{{user.api_key}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="rserver">Redmine Server</label>
            <div class="col-md-8">
                <input id="rserver" class="form-control" type="text" name="rserver" placeholder="Redmine server" value="{{user.rserver}}" />
            </div>
        </div>        
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-8">
                <input id="password" class="form-control" type="password" name="password" placeholder="Password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="confirm_password">Confirm Password</label>
            <div class="col-md-8">
                <input id="password" class="form-control" type="password" name="confirm_password" placeholder="Password" />
            </div>
        </div>            
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Working hours per day: </label>
            <div class="col-md-8">
                <input id="password" class="form-control" type="password" name="password" placeholder="Password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-primary" type="submit">Sign up</button>&nbsp;
                or&nbsp;<a class="show-login" href="/signin">login</a>
            </div>
        </div>
    </form>
{% endblock %}
