{% extends 'auth.html' %}

{% block auth %}

    <div class="span5 center-box">
        <form class="signin form-horizontal boxxy-box " action="/users/session" method="post">
            <h2 class="form-header">Login</h2>
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-8">
                    <input id="email" class="form-control" type="text" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-8">
                    <input id="password" class="form-control" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button class="btn btn-primary" type="submit">Sign in</button>&nbsp;
                    or&nbsp;<a class="show-signup" href="/signup">Sign up</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
