h1 {
    text-align:center
}
#searchInput{
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 15px 18px 16px;
}

#searchContainer{
  border: none;
  box-shadow: 0 1px 4px rgba(128,128,128,.4);
  margin-bottom: 30px;
  width: 100%;
}

#searchContainer.container{
  padding-left: 0px !important;
}

#projects-select{
  margin-top: 10px;
}

.issues{
  list-style: none;
  padding: 0 !important;
  margin: 0;
}
.issue{
  cursor: pointer;
  position: relative;
  background-color: #FFF;
  list-style: none;
  margin-top:10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(128,128,128,.3);
}
.currentIssue{
  margin-bottom: 30px;
}
.currentIssue .playButton{
  margin-top: 2px;
}
.issue:hover, .issue.selected{
  background-color:#FFFCDB;
}
.issue a{
  color: #333;

}
.issue a:hover{
  text-decoration: underline;
}

.issue h3{
  margin-top: 10px;
  color: #333;
}
.playButton{
  position: absolute;
  top: 50%;
  right:20px;
  border-radius: 50%;
  color: white;
  padding-left: 9px;
  padding-top: 6px;
  margin-top: 3px;
  font-size: 20px;
  outline: none;
  height:60px;
  width:60px;
  margin-top:8px;
}

.playButton:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.paused{
  background-color: #69C33D;
  border: 5px solid #53B722;
}

.playing{
  background-color: #EC153D;
  border: 5px solid #E21B41;
}

.tinyText{
  font-family: arial;
  font-size: 12px;
  color: #999;  
}

.tinyText a{
  color: #428bca;
}

.elapsedTime {

}

.elapsedTime span{
  position: absolute;
  font-size: 2em;
  margin-top: 0.55em;
  display: block;
  margin-right: -2px;
  text-align: right;
}

.spentTime{
  font-size: 16px;
  color: #999;
}

.superscript { 
  vertical-align: super;
  font-size: 37%; 
  font-weight: normal;
  color:red;
  padding-left: 0.3em;
  font-family: Verdana;
}
.details{
  display: none;
}
.details ul{
  list-style: none;
  font-size: 12px;
}

.journal{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom:1px solid #EEE;
  font-size: 16px;
}

.journal.first {
  margin-top: 30px;
}

.journal.last {
  margin-top: 20px;
  
}

.detailContent{
  margin-top: 5px;
}

.expanded{
  display: block !important;
}

.note{
  width: 80%;
  height: 70px;
  border: 1px solid #BBB;
}

.form-actions{
  text-align: right;
  margin-right: 20%;
  margin-top: 20px;
}

.deleteIssue {
  display: none;
  position: absolute;
  top:0;
  right:-60px;
  width:60px;
  height: 100%;
  margin:0;
}

.deleteIssue:hover span {
  color:red;
}

.deleteIssue span {
  color:#999;
  position: absolute;
  top:50%;
  margin-top:-8px;
  left: 40%
}

.issue:hover .deleteIssue {
  display: block;
}
.description{
  font-size: 16px;
  padding-bottom: 20px;
  margin-top:20px;
}


/* CHOSEN OVERRIDES */

.chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
    margin-top: 10px;
}

.chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

.chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

.chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

.chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

.chosen-container .chosen-results li , 
.chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
.chosen-container .chosen-results li:hover, 
.chosen-container .chosen-results li.active-result:hover,
.chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

.chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

.chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

.chosen-container-multi.chosen-container-active .chosen-choices,
.chosen-container.chosen-container-single.chosen-container-active .chosen-single,
.chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}


