<section data-ng-controller="IssuesController">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
		<div class="form-group">
			<label for="subject" class="col-md-2 control-label">Subject</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="subject" id="subject" placeholder="Subject" required>
			</div>
		</div>
		<div class="form-group">
			<label for="project_id" class="col-md-2 control-label">Project</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="project_id" id="project_id" placeholder="Project ID" required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</section>