<section data-ng-controller="IssuesController">
  <div ng-show="user">
    <div ng-show="activeIssue" class="issue currentIssue">
      <div class="row">
        <div class="col-md-1">
          <div class="tinyText"><a target="_blank" href="http://redmine.buenosaires.gob.ar/issues/{{activeIssue.id}}">#{{activeIssue.id}}</a></div>
        </div>
        <div class="col-md-7">
          <div class="tinyText">
            <span> Creada hace <span am-time-ago="activeIssue.updated_on"></span> </span> por
            <span><a target="_blank" href="http://redmine.buenosaires.gob.ar/users/{{activeIssue.user.id}}">{{activeIssue.user.name}}</a></span>      
          </div>
          <h3><a data-ng-href="#!/issues/{{issue._id}}">{{activeIssue.subject}}</a></h2>
          <span ng-show="activeIssue.is_new == true" class="label label-danger">New</span>
        </div>
        <div class="col-md-2 elapsedTime">
          <span>{{counter | secondsToTimeString}}</span>
        </div>
        <div class="col-md-2">
          <button class='playButton' ng-click="toggle(activeIssue)" ng-class="playing ? 'playing' : 'paused'"><span class="glyphicon "  ng-class="playing ? 'glyphicon-pause' : 'glyphicon-play'"></span></button>
        </div>
      </div>
    </div>

    <div id="searchContainer" class="container" data-ng-init="findProjects()">
      <div class="row">
        <div class="col-md-6">
          <input id="searchInput" ng-keyup="onEnterSearch($event)" ng-model="search" placeholder="¿En qué estás trabajando?">
        </div>
        <div class="col-md-6">
          <div class="col-md-offset-2 col-md-2">
            <select chosen-enter="onEnterProject($event)" id="projects-select" style="width:300px" chosen ng-model="activeProject" ng-options="p.id as p.name for p in projects">
                <option value="">Select Project</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <ul class="issues unstyled" data-ng-init="find();">
  		<li ng-class="{selected: $index==cursor}" ng-click="toggleDetails(issue._id, $event);" class="issue" data-ng-repeat="issue in issues | filter: search">
        <div class="row">
          <div class="col-md-1 col-xs-9">
            <div class="tinyText"><a target="_blank" href="http://redmine.buenosaires.gob.ar/issues/{{issue.id}}">#{{issue.id}}</a></div>
            
          </div>
          <div class="col-md-9 col-xs-9">
            <div class="tinyText">
              <span>{{issue.project.name}}</span> | 
              <span> Creada hace <span am-time-ago="issue.updated_on"></span></span> por
        			<span><a target="_blank" href="http://redmine.buenosaires.gob.ar/users/{{issue.author.id}}">{{issue.author.name}}</a></span>

            </div>
      			<h3><a target="_blank" href="http://redmine.buenosaires.gob.ar/issues/{{issue.id}}">{{issue.subject}}</a><span ng-show="issue.is_new == true" class="superscript">New</span></h2>
            <span class="spentTime">{{issue.spent_time | secondsToTimeString}}</span>
          </div>
          <div class="col-md-2 col-xs-2">
            <button class='playButton' ng-click="toggle(issue);prevent($event)" ng-class="playing && issue.id == activeIssue.id ? 'playing' : 'paused'"><span class="glyphicon "  ng-class="playing && issue.id == activeIssue.id ? 'glyphicon-pause' : 'glyphicon-play'"></span></button>
          </div>
        </div>
        <div class="row details" ng-class="{'expanded': issue.expanded}">
          <div class="col-md-offset-1 col-md-9 description">{{issue.description}}</div>
          <ul class="col-md-offset-1 col-md-9">
            <li class="journal" ng-repeat="journal in journals[issue._id]" ng-class="{first: $first, last: $last}">
              <div class="tinyText">Actualizado por <a href="http://redmine.buenosaires.gob.ar/users/{{journal.user.id}}">{{journal.user.name}}</a> hace <span>{{moment(journal.created_on).fromNow()}}</span></div>
              <div class="detailContent">
                <div ng-show="journal.notes">{{journal.notes}}</div>
                <div ng-show="journal.details">{{journal.message}}</div>
              </div>
            </li>
            <li>
              <form class="form-horizontal" role="form">
                <textarea class="note" ng-model="inputNotes[issue._id]" ng-click="prevent($event)"></textarea>
                <div class="form-actions pull-left">
                  <button class="btn btn-primary" ng-click="update(issue);prevent($event);">Save</button>
                  <button class="btn btn-success" ng-click="closeTask(issue);prevent($event);">Close It</button>

                </div>
              </form>
            </li>
          </ul>
        </div>
        <div class="deleteIssue"><a href ng-click="remove(issue)"><span class="glyphicon glyphicon-remove"></span></a></div>
  		</li>
  	</ul>
  </div>
</section>
